:root {
  --pink: #ffc8dd;
}


body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
  display:flex;
    background: #00a1de;
    padding: 1em;
    color: white;
    box-shadow: 1px 1px 5px black;
    align-items: center;
    justify-content: space-between;
  }

header button{
  border: none; 
  background: transparent; 
  color: inherit;
  font-size:2em;
  font-weight: bold;
  cursor: pointer;  
  margin: 0.67em;
  margin-inline:1em;
}

header h1{
  margin-inline:1em;
}

header a{
  margin-inline:1em; 
  text-decoration: none;
  font-weight: 50;
  font-size: 1.2rem;
  color:white;
}
  
  .navigatie ul{
    display: flex;
    list-style-type: none;
    margin-top: 1em;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
  }
  
  .navigatie li{
    display: list-item;
    border-radius:7px;
  }
  
  .navigatie a{
    color:rgb(74, 74, 74);
    border-radius:7px;
    display: flex; 
    padding:20px 20px;
    text-decoration: none;
    font-weight: 50;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color:#ffffff80;
    }
  .navigatie li:hover{
    transition: all 400ms ease-in;
    background-color:#ffffff90;
  }
  .navigatie ul li a:hover{
    transition: all 300ms ease-in;
    color:#00d4fa
  }

  .achtergrondfoto{
    display: flex;
    width: 100%;
    opacity:0.5;
  }
  
  .inlog{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .inlog{
    margin-top:3em;
  }

  .inlog input[type='submit']:hover{
    cursor:pointer;
  }

  form input{
  border-radius:4px;
  padding:10px;
  padding-inline:16px;
  border: none;
  background: #00000010
  }

  form input[type='submit']{
    padding:8px;
    padding-inline:16px;
    background-color:rgb(57, 179, 240);
    border: none;
    color: #fff;
    padding: 0.8em;
  }

  form input[type='submit']:hover{
    opacity:0.8;
  }

table{
    border-collapse: collapse;
    width:80%;
    background-color:#41bdeb ;
    color:#fff;
    text-align:center;
    border-radius:5px;
  }

.vluchttabel{
  display:flex;
  justify-content: center;
  align-content: center;
  margin-top: 5em;
}

table th{
    background-color:#1da0d0;
    font-size: 1.3em
  }

table, th, td {
    padding:8px;
  }

  .tabel_container{
    padding:0;
    margin-bottom: 8em;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .tabel_container, a{
    color:#fff;
    text-decoration: none;
  }

  .Vlucht_toevoegen_knop{
    border:none;
    color:#fff;
    width:20%;
    font-size:1.3em;
    background-color:#41bdeb;
    padding:0.5em;
    border-radius: 10px;
  }
  .Vlucht_toevoegen_knop:hover{
    transition: all 250ms ease-in;
    opacity:70%;
  }

  .medewerker_knoppen{
    width:80%;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-content: center;
  }

  .medewerker_knoppen form{
    margin:3em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-content: center;
  }
  
  .medewerker_knoppen form button{
    width:10em;
    cursor:pointer;
  }

  .medewerker_knoppen form input[type='submit']:hover{
    cursor:pointer;
  }

  .toevoegen{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .toevoegen input[type='datetime-local']{
    padding-inline: 29.6px;
  }

  .privacy_policy{
    display:grid;
    flex-direction: column;
    justify-items: center;
    margin-top:0.8em;
    margin-bottom:5em;
    margin-inline:15em;
    padding-inline:1.5em;
    background-color:#00000010;
    box-shadow: 0px 4px 8px 10px rgba(0,0,0,0.2);
  }

  .show_all_knop{
    margin-top: 3em;
    cursor:pointer;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 1.3em;
    background-color: #419feb;
    padding: 0.5em;
    border-radius: 10px;

    display:flex;
    align-items: center;
    align-content: center;
  }

  .show_all_knop:hover{
    transition: all 250ms ease-in;
    opacity:70%;
  }
  
  input[type='submit']{
    cursor:pointer ;
  }

  .foutmeldingen{
    display:flex;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight:bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
    justify-content: center;
    margin-top: 2.4em;
    }


  @media screen and (max-width: 800px){
    main, body{
      overflow-x:visible;
      width:100%;
    }
      .navigatie ul{
        width:100%;
          flex-direction: column;
      }
      aside{
        display: none;
      }
  }